.vscode/
dataset_prepare/real_dataset_reformatter.py
weed_dataset/
sym_dataset/

__pycache__/
*.zip

.aws

sage_maker_training_job.py

evolutionary_hyperparameters_optimization/
metaqnn/tmp_calculate_parameters.py

venv/
*.h

output/
output_bk_mocked/